

<!DOCTYPE html>

<html ng-app="glassHouseApp">

<head>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title ~ Atims GlassHouse</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/respond")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/glasshouse")

</head>

<body>
    <div id="glass-body-content" ng-controller="GlassHouseController as glassHouseCtrl">
        @RenderBody()
    </div>
</body>


</html>
